.flights{
    margin: 20px;

}
.JoinDiv{
    display: flex;
    margin: 20px;
    padding: 10px;
    column-gap: 10px;
}
.Users{
    background-color: lightsteelblue;
    border: 2px solid steelblue;
}
.Posts{
    background-color: lavender;
    border: 2px solid steelblue;
}
.Comments{
    margin: 25px;
    padding: 10px;
    background-color: thistle;
    border: 2px solid steelblue;
}
